hU{
    font-size: 35px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: darkred;
}

hN{
    font-size: 35px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
}
hA{
    font-size: 35px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #071DDD;
}

.Title{
    text-align: center;
    align-content: center;
    padding-top: 5px;
    padding-right: 30px;
    padding-top:-4px;
}
header{
    width:100%;
    height: 69px;
    background-color: #0691D1;
}

.Left,.Right{
    width: 50px;
    height:50px;
    text-align: center;
    align-content: center;
}

.Buttons{
    width:100%;
    height:45px;
    background-color: #C67009;
    color: black;
}

.Home{
    background-color: rgb(3, 160, 152);
    color: white;
    height:45px;
    width:24.8%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 24px;
}
.Home:hover{
    background-color: darkcyan;
    color: black;
    height:45px;
    width:24.8%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 24px;
}
.Products{
    background-color: rgb(3, 160, 152);
    color: white;
    height:45px;
    width:24.8%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 24px;
}

.Products:hover{
    background-color: darkcyan;
    color: black;
    height:45px;
    width:24.8%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 24px;
}

.Gallery{
    background-color: darkcyan;
    color: black;
    height:45px;
    width:24.8%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 24px;
}

.Contact{
    background-color: rgb(3, 160, 152);
    color: white;
    height:45px;
    width:24.8%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 24px;
}

.Contact:hover{
    background-color: darkcyan;
    color: black;
    height:45px;
    width:24.8%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 24px;
}

.Background {
    background-color: aquamarine;
    width: 100%;
    height: 160vh;
    display: flex;
    justify-content: center;
}

.fotorama {
    background-color: aquamarine;
    width: 50%;
    height: 1500px;
    margin-top: 30px ;
}

.fotorama img {
    background-color: aquamarine;
    width: 50%;
}